<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style type="text/css">
    .bs-example {
      margin: 0px;
    }
    .navbar-brand {
      font-size: 20px;
      font-family: sans-serif;
    }

  </style>
</head>

<body>
  <div class="bs-example">
    
    <nav style="background:linear-gradient(90deg, rgba(0, 40, 83, 1) 1%, rgba(4, 12, 24, 1) 100%);" class="navbar navbar-expand-md navbar-dark fixed-top bg-red">
      <a href="/" class="navbar-brand" style="color:#fff;"><i style="color: #FF4820;" class="fas fa-heartbeat"></i>&nbsp; Life Line Savior</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" style="color: #fff;" href="/"><i style="color: #FF4820;" class="fas fa-home"></i>&nbsp; Home</i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: #fff;" href="{% url 'contact' %}"><i style="color: #FF4820;" class="fas fa-mobile"></i>&nbsp; Contact</i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: #fff;" href="{% url 'hospital-register' %}"><i style="color: #FF4820;" class="fas fa-hospital"></i>&nbsp; Hospital</i></a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #fff;" href="/patient/patientlogin"><i style="color: #FF4820;" class="fas fa-procedures"></i>&nbsp; Patient</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #fff;" href="/donor/donorlogin"><i style="color: #FF4820;" class="fas fa-user"></i>&nbsp; Donor</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #fff;" href="/adminlogin"><i style="color: #FF4820;" class="fas fa-user-shield"></i>&nbsp; Admin</i></a>
                </li>
            </ul>
        </div>
      </div>
    </nav>
  </div>
</body>
</html>