<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style type="text/css"></style>
  </head>

  <body>
    {% include "blood/navbar.html" %}
    <br /><br />
    <header style="background-color: #031b34" class="text-white p-4">
      <div class="container text-center">
        <h1>Login Successfully</h1>
      </div>
    </header>
    <main class="py-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="alert alert-success fade-in" role="alert">
              <strong>Success!</strong> Your Hospital Registered Request has
              been successfully submitted.
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
